@import "../../responsive/css/addons/call_requests/styles.less";

.ty-cr-phone-number-link {
    margin: 8px 0px 0px;
    text-align: left;
    word-break: break-word;
}

.ty-cr-phone-number-link .ty-cr-phone {
    color: var(--cs-font);
}

.ty-cr-phone-number-link .ty-cr-phone span {
    white-space: normal;
}

.ty-cr-phone__link {
    color: var(--cs-font);
    white-space: normal;
}

.ty-cr-phone__link:hover {
    color: var(--cs-font);
}

.ty-cr-phone-number-link .ty-cr-link a {
    color: var(--cs-btn-link-color);
    font-size: var(--cs-font-size-small);
}

.ty-cr-phone-number-link .ty-cr-link a:hover {
    color: var(--cs-btn-link-color-highlight);
}

.ty-cr-phone-number-link .ty-cr-phone-prefix {
    color: var(--cs-font);
}

.ty-cr-phone-number-link .ty-cr-work {
    display: none;
}

@media (min-width: 768px) and (max-width: 1365px) {
    .ty-cr-phone-number-link .ty-cr-phone,
    .ty-cr-phone-number-link .ty-cr-phone a {
        font-size: var(--cs-font-size-small);
    }
}

@media (min-width: 768px) and (max-width: 820px) {
    .ty-cr-phone-number-link span.ty-cr-work {
        display: none;
    }
}

.ty-cr-product-button {
    background: var(--cs-secondary-button);
    color: #fff;
}

.ty-cr-product-button:hover {
    background: var(--cs-secondary-button-hover);
    color: #fff;
}
