.ty-credit-card {
    border-width: 0;
    background: transparent;
}

.ty-credit-card__cvv-field {
    max-width: 220px;
}

.litecheckout__payments-cc {
    border: 1px solid var(--cs-base);
    border-radius: var(--cs-rounded-corners-radius-small);
}
