@media (min-width: 768px) {
    .ty-cart-content .ty-cart-content__product-elem {
        border-bottom: 1px solid var(--cs-base);
    }
}

@media (max-width: 767px) {
    .ty-cart-content .ty-cart-content__product-elem {
        border-bottom-width: 0;
    }

    .ty-cart-content .ty-cart-content__image-block {
        padding-top: 16px;
    }

   .ty-cart-content .ty-cart-content__price:last-child {
        padding-bottom: 16px;
    }
}
