.ty-cart-total {
    background: transparent;
}

.ty-cart-total__wrapper {
    padding: 17px 0;
}

.ty-cart-statistic__item {
    color: var(--cs-font);
}

.ty-statistic-list-subtotal-discount,
.ty-statistic-list-discount {
    color: var(--cs-discount-label);
}

.ty-cart-statistic__value {
    font-weight: bold;
}

.ty-cart-statistic__total-title {
    float: left;
    margin-right: 20px;
    width: 220px;
    white-space: normal;
    word-break: break-all;
    word-break: break-word;
}

.ty-cart-statistic__total-list {
    text-align: right;
}

@media (min-width: 768px) {
    .ty-cart-statistic__total {
        display: inline-block;
    }
}
