.litecheckout__overlay--active:after {
    border-radius: var(--cs-base-rounded-corners-radius);
}

.litecheckout__shipping-method__wrapper {
    border-radius: var(--cs-base-rounded-corners-radius);
}

.litecheckout__shipping-method__title {
    font-weight: bold;
}
