.ty-checkout__terms {
    padding: 0;
    border: 1px solid var(--cs-base);
    border-radius: var(--cs-rounded-corners-radius-small);
}

.ty-license-agreement__link {
    color: var(--cs-btn-link-color);
}

.ty-license-agreement__link:hover {
    color: var(--cs-btn-link-color-highlight);
}

.ty-license-agreement__content {
    margin-top: 8px;
    padding: 16px;
    border: 1px solid var(--cs-base);
    border-radius: var(--cs-base-rounded-corners-radius);
}
