.ty-product-notification__body {
    padding: calc(var(--cs-notification-padding) / 2) var(--cs-notification-padding);
}

.ty-product-notification__body .ty-product-options-name {
    width: 220px;
}

.ty-product-notification__buttons {
    padding: calc(var(--cs-notification-padding) / 2) var(--cs-notification-padding) var(--cs-notification-padding) var(--cs-notification-padding);
    background: transparent;
}
