.ty-product-options__description {
    margin-left: 0;
}

.ty-product-options__image--wrapper {
    border-color: var(--cs-input-border);
    border-radius: var(--cs-input-rounded-corners-radius);
    overflow: hidden;
}

.ty-product-options__image--wrapper--active {
    border-color: var(--cs-input-border-highlight);
}

.ty-product-options__radio--label {
    margin: 2px 8px 8px 0;
    border-color: var(--cs-input-border);
    border-radius: var(--cs-input-rounded-corners-radius);
}

.ty-product-options__radio:checked + .ty-product-options__radio--label,
.ty-product-options__radio--label:not(.ty-product-options__radio--label--disabled):hover,
.ty-product-options__radio--label:not(.ty-product-options__radio--label--disabled):active {
    border-color: var(--cs-input-border-highlight);
}

.ty-product-options__box-wrapper--radio-group {
    display: inline-block;
    margin: 2px 8px 8px 0;
}

.ty-product-options__box-inner--radio-group {
    padding: 6px 10px;
    border: 2px solid var(--cs-input-border);
    border-radius: var(--cs-input-rounded-corners-radius);
    cursor: pointer;
}

.ty-product-options__radio-input--radio-group {
    display: none;
}

.ty-product-options__radio-input--radio-group:checked + .ty-product-options__box-inner--radio-group,
.ty-product-options__box-inner--radio-group:hover,
.ty-product-options__box-inner--radio-group:active {
    border-color: var(--cs-input-border-highlight);
}

.ty-product-variant-image {
    margin-left: 0;
}

.ui-dialog .ty-product-variant-image {
    margin-left: 0;
}
