.ty-product-img {
    max-width: 100%;
    border-width: 0;
    border-radius: var(--cs-rounded-corners-radius-small);
    overflow: hidden;
}

.ty-product-thumbnails {
    --ty-product-thumbnails-max-width-percent: 100%;

    display: flex;
    overflow: auto;
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 10px;
    /** calc(100% + 20px + 20px) **/
    max-width: calc(var(--ty-product-thumbnails-max-width-percent) + 40px);
}

@media (min-width: 768px) {
    .ty-product-thumbnails {
        flex-wrap: wrap;
        overflow: visible;
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0;
        max-width: 100%;
    }
}

.ty-product-option-container {
    vertical-align: baseline;
}

.ty-product-thumbnails__item {
    flex-shrink: 0;
    float: none;
    margin: 0 10px 10px 0;
    border-radius: var(--cs-base-rounded-corners-radius);
    overflow: hidden;
}
