:root.ty-root--products-view {
    --ty-product-bottom-fixed-height: 56px;
    --ty-tygh-padding-bottom-2: var(--ty-product-bottom-fixed-height);
}

@media (min-width: 768px) {
    :root.ty-root--products-view {
        --ty-product-bottom-fixed-height: 0px;
    }
}

.ty-product-bottom-fixed {
    --ty-product-bottom-fixed-display: flex;
    --ty-product-bottom-fixed-bottom-part-1: calc(var(--ty-navbar-mobile-height) + var(--bp-bottom-panel-height));
    --ty-product-bottom-fixed-bottom-part-2: 1px;

    position: fixed;
    left: 0;
    right: 0;
    /** calc(var(--ty-navbar-mobile-height) + var(--bp-bottom-panel-height) + 1px) **/
    bottom: calc(var(--ty-product-bottom-fixed-bottom-part-1) + var(--ty-product-bottom-fixed-bottom-part-2));
    padding-bottom: env(safe-area-inset-bottom); // iOS
    display: var(--ty-product-bottom-fixed-display);
    align-items: center;
    min-height: var(--ty-product-bottom-fixed-height);
    background: var(--cs-general-bg-color);
    border-top: 1px solid var(--cs-base);
    z-index: 150;
    transition: all 0.2s;
}

@media (min-width: 768px) {
    .ty-product-bottom-fixed {
        --ty-product-bottom-fixed-display: none;
    }
}

.ty-product-bottom-fixed__inner {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 8px;
    padding: 4px 16px;
}

.ty-product-bottom-fixed__left,
.ty-product-bottom-fixed__right {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.ty-product-bottom-fixed__left {
    overflow-x: hidden;
}

.ty-product-bottom-fixed__right {
    margin-left: auto;
}

.ty-product-bottom-fixed__left-row,
.ty-product-bottom-fixed__right-row {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    row-gap: 2px;
    column-gap: 8px
}

/** Price, list price, clean price **/
.ty-product-bottom-fixed__price,
.ty-product-bottom-fixed__list-price,
.ty-product-bottom-fixed__clean-price {
    max-width: 100%;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.ty-product-bottom-fixed__price > span,
.ty-product-bottom-fixed__list-price > span,
.ty-product-bottom-fixed__clean-price > span {
    max-width: 100%;
    overflow-x: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
}

/** Price **/
.ty-product-bottom-fixed__price > span {
    font-size: var(--cs-font-size-large);
}

/** List price, clean price **/
.ty-product-bottom-fixed__list-price,
.ty-product-bottom-fixed__clean-price {
    color: var(--cs-secondary-text);
}

/** Clean price **/
.ty-product-bottom-fixed__clean-price .ty-list-price {
    font-size: var(--cs-font-size-small);
}

/** Add to cart button **/
@media screen and (max-width: 480px) {
    .ty-product-bottom-fixed .ty-btn__add-to-cart.ty-btn__add-to-cart--secondary:last-child {
        margin-right: 0;
    }
}

.ty-product-bottom-fixed .ty-btn__add-to-cart--secondary {
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}

.ty-product-bottom-fixed__add-to-cart {
    max-width: 100%;
}

.ty-product-bottom-fixed .ty-add-to-cart__text-login-to-add-to-cart {
    display: none;
}
