.ty-quick-view-button {
    padding-top: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    margin-bottom: 16px;
    width: 100%;
    text-align: center;
    pointer-events: none;
}

.ty-quick-view-button__wrapper {
    text-align: left;
}

.ty-quick-view-link {
    pointer-events: auto;
}
