.ty-product-steps-dropdown {
    display: none;
}

@media (min-width: 768px) {
    .ty-product-steps-dropdown {
        display: inline-block;
    }
}

.ty-product-steps-dropdown__content {
    min-width: 200px;
}
