.ty-footer-form-block {
    margin-top: 19px;
}

.ty-footer-form-block__title {
    margin-top: 9px;
    font-weight: 700;
}

.ty-footer-form-block__form {
    width: 400px;
}

input[type="text"].ty-footer-form-block__input {
    height: 48px;
}

.ty-footer-form-block__go {
    top: 6px;
    right: 6px;
    padding-left: 18px;
    padding-right: 18px;
    height: 36px;
    border-left: none;
    background: var(--cs-footer-text);
    border-radius: var(--cs-rounded-corners-radius-small);
}

.ty-footer-form-block__go:hover {
    opacity: 0.8;
}

.ty-footer-form-block__go-icon {
    color: #fff;
}
