@media (max-width : 1224px) {
    .ty-footer-form-block__form {
        width: 299px;
    }
}

@media (max-width: 979px) {
    .ty-footer-form-block__title,
    .ty-footer-form-block__form-container,
    .ty-footer-form-block__form {
        width: 100%;
    }
}

@media (min-width: 768px) and (max-width: 979px) {
    .ty-footer-form-block__form {
        width: 299px;
    }
}
