@import "../../responsive/css/addons/product_reviews/components/product_star_line.less";

/*
    templates/addons/product_reviews/views/product_reviews/components/product_star_line.tpl
*/

.ty-product-review-product-star-line__quantity {
    max-width: 100px;
}

.ty-product-review-product-star-line__line {
    background-color: var(--cs-base);
    border-radius: var(--cs-rounded-corners-radius-small);
    overflow: hidden;
}

.ty-product-review-product-star-line__line::-webkit-progress-bar {
    background-color: var(--cs-base);
}
