.ty-product-review-reviews-total-reviews {
    font-size: var(--cs-font-size-small);
    line-height: calc(var(--cs-font-size-small) + 5px);
    vertical-align: top;
    color: var(--cs-links);
}

.ty-product-review-reviews-total-reviews--button:hover {
    color: var(--cs-links-hover);
}
