@import "../../responsive/css/addons/product_reviews/components/write_product_review.less";

/*
    templates/addons/product_reviews/views/product_reviews/components/write_product_review.tpl
*/

.ty-product-review-product-rating-overview-short:empty {
    display: none;
}

.ty-product-review-product-rating-overview-short .ty-product-review-write-product-review-button {
    color: var(--cs-btn-link-color);
}

.ty-product-review-product-rating-overview-short .ty-product-review-write-product-review-button:hover {
    color: var(--cs-btn-link-color-highlight);
}
