@import "../../responsive/css/addons/reward_points/styles.less";

/* ==========================================================================
Reward points
========================================================================== */

.ty-reward-points__info-label,
.ty-reward-points__info-value,
.ty-reward-points__txt-point {
    color: var(--cs-secondary-text);
}

.ty-reward-points-product-info__label {
    font-weight: normal;
}

.ty-reward-points-product-representation__item--reward-points,
.ty-reward-points-product-info__item--reward-points {
    margin-top: 7px;
    padding: 3px 8px;
    font-size: var(--cs-font-size-mini);
    background: var(--cs-table-background-accent);
    border-radius: var(--cs-rounded-corners-radius-small);
}

.ty-reward-points-product-representation__label--price-in-points,
.ty-reward-points-product-representation__item--price-in-points,
.ty-reward-points-product-info__label--price-in-points,
.ty-reward-points-product-info__item--price-in-points {
    color: var(--cs-secondary-text);
}

/* /Reward points */