@media (max-width: 767px) {
    .ty-footer-general__header {
        border-bottom: none;
    }
}

@media (max-width: 767px) {
    .ty-footer-menu__icon-open,
    .ty-footer-menu__icon-hide {
        top: 50%;
        font-size: 24px;
        transform: translateY(-50%);
    }
}
