.ty-footer-general__header {
    font-weight: bold;
    font-size: calc(var(--cs-body-font-size) + 5px);
}

@media (min-width: 768px) {
    .ty-footer-general__body {
        margin-top: 30px;
    }
}

.ty-footer-general__body li {
    margin-bottom: 8px;
}
