.ty-dropdown-box  .ty-icon-down-micro {
    top: 0;
    font-size: 16px;
}

.ty-dropdown-box__title:hover {
    background: transparent;
}

.ty-dropdown-box__title.open {
    background: transparent;
}

.ty-dropdown-box__title:hover a,
.ty-dropdown-box__title:hover i,
.ty-dropdown-box__title:hover .ty-icon,
.ty-dropdown-box__title:hover .ty-minicart-title {
    color: var(--cs-btn-link-color-highlight);
}

.ty-dropdown-box__title.open a,
.ty-dropdown-box__title.open i,
.ty-dropdown-box__title.open .ty-icon,
.ty-dropdown-box__title.open .ty-minicart-title {
    color: var(--cs-btn-link-color-highlight);
}

.ty-dropdown-box__content {
    padding-top: calc(var(--cs-base-border-radius) * 0.66667);
    padding-bottom: calc(var(--cs-base-border-radius) * 0.66667);
    border-width: 0;
    box-shadow: var(--cs-shadow);
    border-radius: var(--cs-base-rounded-corners-radius);
}

.ty-account-info__buttons {
    border-bottom-left-radius: var(--cs-base-rounded-corners-radius);
    border-bottom-right-radius: var(--cs-base-rounded-corners-radius);
}

.ty-dropdown-box__content .ty-account-info__orders {
    background: transparent;
}

.ty-dropdown-box__content .ty-account-info__buttons {
    padding-bottom: 8px;
    background: transparent;
}
