.ty-horizontal-product-filters {
    padding-left: 0;
    background: transparent;
}

.ty-horizontal-product-filters-dropdown__wrapper {
    color: var(--cs-btn-link-color);
}

.ty-horizontal-product-filters-dropdown__wrapper.active {
    color: var(--cs-btn-link-color);
    background: transparent;
}

.ty-horizontal-product-filters-dropdown__wrapper:hover {
    color: var(--cs-btn-link-color-highlight);
    background: transparent;
}

.ty-horizontal-product-filters-dropdown__wrapper.open {
    background: var(--cs-btn-link-background-highlight);
    color: var(--cs-btn-link-color-highlight);
}

.ty-horizontal-product-filters-dropdown__content {
    padding-top: calc(var(--cs-base-border-radius) * 0.66667);
    padding-bottom: calc(var(--cs-base-border-radius) * 0.66667);
    border-width: 0;
    border-radius: var(--cs-base-rounded-corners-radius);
    box-shadow: var(--cs-shadow);
    overflow: hidden;
}

.ty-horizontal-product-filters-dropdown a .ty-icon-cancel-circle:hover {
    color: var(--cs-btn-link-color-highlight);
}

.ty-horizontal-product-filters-dropdown__content .ty-product-filters__tools {
    background: transparent;
}

.ty-horizontal-product-filters.ty-selected-product-filters {
    margin-bottom: 0;
}

.ty-product-filters__wrapper--filters-selected {
    margin-bottom: 25px;
}
