/** buttons/place_order.tpl **/

.litecheckout__submit-btn {
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: var(--cs-base-rounded-corners-radius);
    height: auto;
    font-weight: bold;
}

.litecheckout__submit-btn--auto-width {
    padding: 20px 30px;
}
