.litecheckout .pickup__offices-wrapper {
    border-radius: var(--cs-base-rounded-corners-radius);
}

.litecheckout .pickup__map-wrapper {
    border-radius: 0 var(--cs-base-rounded-corners-radius) var(--cs-base-rounded-corners-radius) 0;
}

.litecheckout .pickup--map-list .ty-one-store__label,
.litecheckout .pickup--list .ty-one-store__label {
    border-radius: var(--cs-base-rounded-corners-radius);
}
