.ty-currencies__item {
    padding: 10px 13px;
    border-radius: 0;
}

.ty-currencies__item:hover {
    background: transparent;
}

.ty-currencies__active,
.ty-currencies__active:hover {
    background: var(--cs-general-bg-color);
    color: var(--cs-top-panel-links);
}
