.ty-languages__item {
    padding: 10px 6px;
    color: var(--cs-btn-link-color);
}

.ty-languages__item:hover {
    color: var(--cs-btn-link-color-highlight);
}

.ty-languages__active {
    background: var(--cs-general-bg-color);
    color: var(--cs-top-panel-links);
}
