.ty-account-info__title {
    padding: 0;
}

.ty-account-info__title--dropdown {
    padding: 0 5px;
}

.ty-account-info__user-arrow {
    font-size: 16px;
}

.logged .ty-account-info__title,
.logged .ty-account-info__user-arrow {
    color: var(--cs-btn-link-color);
}

.ty-account-info__item .ty-account-info__a {
    color: var(--cs-btn-link-color);
}

.ty-mainbox-body .ty-account-info__buttons {
    padding-left: 0;
    padding-right: 0;
}
