@media (max-width: 767px) {
    .ty-menu__items .ty-menu__items-show.ty-menu__submenu-items--level-2 {
        border-top: 1px solid var(--cs-base);
    }

    .ty-menu__item {
        border-bottom-color: var(--cs-base);
    }

    .ty-menu__item .ty-menu__item-toggle-active {
        background: var(--cs-table-background-accent);
    }

    .ty-menu__submenu .ty-menu__submenu-items .ty-menu__submenu-item {
        border-bottom-color: transparent;
    }

    .no-touch .ty-menu__submenu-items .ty-menu__submenu-link:hover {
        color: var(--cs-btn-link-color-highlight);
    }

    .ty-menu__submenu .ty-menu__submenu-items .ty-menu__submenu-item-active a {
        color: var(--cs-btn-link-color-highlight);
        background: none;
    }

    .ty-menu__submenu .ty-top-mine__submenu-col .ty-menu__item-toggle-active {
        background: var(--cs-table-background-accent);
    }

    .ty-menu__items .ty-menu__submenu .ty-top-mine__submenu-col .ty-menu__item-toggle {
        color: var(--cs-btn-link-color);
    }

    .ty-menu__submenu .ty-top-mine__submenu-col .ty-menu__submenu-item-header {
        border-bottom-color: transparent;
    }

    .ty-menu__submenu .ty-top-mine__submenu-col:last-child .ty-menu__submenu-item-header {
        border-bottom-color: transparent;
    }

    .ty-menu__submenu .ty-top-mine__submenu-col .ty-menu__submenu-item-header-active {
        background: var(--cs-content-bg);
    }

    .ty-menu__submenu-items {
        background: transparent;
    }

    .ty-menu__item-toggle {
        width: 32px;
        height: 32px;
        font-size: 28px;
        color: var(--cs-btn-link-color);
        top: 7px;
        border-radius: var(--cs-rounded-corners-radius-small);
    }

    .ty-menu__item-toggle:hover {
        color: var(--cs-btn-link-color-highlight);
    }

    .ty-menu__icon-hide,
    .ty-menu__icon-open {
        line-height: 32px;
    }
}
