.ty-accordion .ui-accordion-header-icon:before {
    content: "\e313";
}

.ty-accordion .ui-accordion-header {
    color: var(--cs-btn-link-color);
    padding: 10px 26px 10px 0;
    background: var(--cs-btn-link-background);
    font-weight: 700;
}

.ty-accordion .ui-accordion-header.ui-state-active {
    background: var(--cs-btn-link-background-highlight);
    color: var(--cs-btn-link-color-highlight);
}

.ty-accordion .ui-accordion-header.ui-state-active .ui-accordion-header-icon:before {
    content: "\e316";
}

.ty-accordion .ui-accordion-content {
    margin-bottom: 16px;
}
