/** =========================================================== Social links **/

@media screen and (max-width: 1120px) {
    .ty-social-link-block {
        margin-top: 0;
        margin-right: 0;
        margin-bottom: 27px;
        text-align: center;
    }
}

@media screen and (max-width: 979px) {
    h3.ty-social-link__title {
        display: inline-block;
        margin-top: 0;
        margin-bottom: 0;
    }
}

@media screen and (max-width: 767px){
    h3.ty-social-link__title{
        margin-top: 0;
        margin-right: 0;
        display: block;
    }
}
