.ty-swiper-previewer__button-prev.swiper-button-prev:after {
    content: '\e5cb';
}

.ty-swiper-previewer__button-next.swiper-button-next:after {
    content: '\e5cc';
}

[dir='rtl'] .ty-swiper-previewer__button-prev.swiper-button-prev:after {
    content: '\e5cc';
}

[dir='rtl'] .ty-swiper-previewer__button-next.swiper-button-next:after {
    content: '\e5cb';
}
