@media (max-width: 767px) {
    .ty-table tr {
        border-color: var(--cs-base);
    }

    .ty-table tr:last-child{
        border-bottom-color: var(--cs-base);
    }

    .ty-table td {
        border-bottom-color: var(--cs-base);
    }
}
