.ty-table--sorter .headerSortUp:before,
.ty-table--sorter .tablesorter-headerSortUp:before,
.ty-table--sorter .tablesorter-headerAsc:before {
    font-size: 1.25rem;
    content: "\e5c7";
}

.ty-table--sorter .headerSortDown:after,
.ty-table--sorter .tablesorter-headerSortDown:after,
.ty-table--sorter .tablesorter-headerDesc:after {
    font-size: 1.25rem;
    content: "\e5c5";
}
