.ty-table {
    border-color: transparent;
}

.ty-table th {
    border-right-color: transparent;
    border-bottom-color: transparent;
    background: var(--cs-table-background-accent);
}

.ty-table th i,
.ty-table th .ty-icon {
    margin-left: 1px;
    top: 5px;
    font-size: 1.25rem;
}

.ty-table td,
.ty-table .table td {
    border-right-color: transparent;
    border-bottom-color: transparent;
}

.ty-table tbody tr:nth-child(2n) {
    background: var(--cs-table-background-accent);
}
