.ty-delete-big__icon {
    font-size: 19px;
}

/** Dialog caret **/
.ty-dialog-caret {
    border-color: var(--cs-base);
}

.ty-dialog-caret:before,
.ty-dialog-caret:after {
    border-top-color: transparent;
    border-left-color: var(--cs-base);
}

.ty-dialog-caret:after {
    border-left-color: #fff;
}
