.ty-product-filters {
    padding-top: 0;
}

.ty-product-filters--original {
    margin-left: 0;
}

.ty-product-filters__group--original {
    margin-left: 0;
}

.ty-product-filters__item-more {
    padding-top: 0;
}

.ty-product-filters__search--original {
    padding-top: 0;
    padding-left: 0;
}

.ty-product-filters__search-icon {
    top: 8px;
}
