.ty-price-slider {
    padding: 0 0 10px 0;
}

.ty-price-slider__input-text {
    width: 90px;
}

@media (max-width: 767px) {
    .ui-dialog input[type="text"].ty-price-slider__input-text {
        width: 90px;
    }
}

.ty-range-slider .ui-slider-handle {
    width: 20px;
    background: var(--cs-btn-link-color);
    border-radius: 99px;
}
