.ty-checkout-summary__item.ty-right {
    font-weight: bold;
}

.ty-checkout-summary__total div {
    font-size: var(--cs-font-size-large);
}

.ty-checkout-summary__total-sum {
    font-weight: bold;
}
