.ty-menu-vertical .ty-menu__items {
    border-bottom-width: 0;
}

.ty-menu-vertical .ty-menu__submenu-items {
    border: 1px solid var(--cs-menu-hover);
}

.no-touch .ty-menu-vertical .ty-menu__submenu .ty-menu__item:hover > .ty-menu__submenu-item-header .ty-menu__item-link,
.ty-menu-vertical .ty-menu__submenu .is-hover-menu > .ty-menu__submenu-item-header .ty-menu__item-link {
    background: var(--cs-menu-hover);
}

.no-touch .ty-menu-vertical .ty-menu__submenu .ty-menu__item:hover i,
.ty-menu-vertical .ty-menu__submenu .is-hover-menu i,
.no-touch .ty-menu-vertical .ty-menu__submenu .ty-menu__item:hover .ty-icon,
.ty-menu-vertical .ty-menu__submenu .is-hover-menu .ty-icon {
    color: var(--cs-btn-link-color);
}

.ty-menu-vertical .ty-menu__item .ty-menu__submenu .ty-menu__item-link {
    color: var(--cs-btn-link-color);
    background: var(--cs-content-bg);
}

.no-touch .ty-menu-vertical .ty-menu__item .ty-menu__submenu .ty-menu__item:hover > .ty-menu__item-link {
    background: var(--cs-links);
    color: white;
}
