.ty-text-links__a {
    color: var(--cs-btn-link-color);
}

.ty-text-links__a:hover {
    color: var(--cs-btn-link-color-highlight);
}

.ty-text-links__active > .ty-text-links__a,
.no-touch .ty-text-links__a:hover {
    color: var(--cs-btn-link-color-highlight);
}

@media (max-width: 1024px) {
    .ty-text-links-btn {
        padding: 8px 10px 8px 10px;
    }
}

@media (max-width: 1024px) {
    .ty-text-links-btn.open {
        background: transparent;
        color: var(--cs-btn-link-color-highlight);
    }
}

.ty-text-links-btn__icon {
    vertical-align: middle;
}

.ty-text-links-btn__arrow {
    vertical-align: middle;
}

@media (max-width: 1024px) {
    .ty-text-links-btn__arrow {
        font-size: 16px;
        top: 0;
    }
}

@media (max-width: 1024px) {
    .ty-text-links_show_inline {
        border-width: 0;
        border-radius: var(--cs-base-rounded-corners-radius);
        box-shadow: var(--cs-shadow);
    }
}

.ty-text-links_show_inline .ty-level-0 > .ty-text-links {
    border-width: 0;
    box-shadow: var(--cs-shadow);
    padding-top: calc(var(--cs-base-border-radius) * 0.66667);
    padding-bottom: calc(var(--cs-base-border-radius) * 0.66667);
    border-radius: var(--cs-base-rounded-corners-radius);
}

@media (max-width: 1024px) {
    .ty-text-links_show_inline .ty-level-0 > .ty-text-links {
        padding: 0;
        box-shadow: none;
    }
}
