.ty-tree-menu__items {
    background: var(--cs-content-bg);
    position: relative;
    border-radius: var(--cs-rounded-corners-radius-small);
}

.ty-tree-menu__items:before,
.ty-tree-menu__items:after {
    display: table;
    content: "";
    line-height: 0;
    width: 100%;
}

.ty-tree-menu__items:after {
    clear: both;
}

@media (min-width: 768px) {
    .ty-tree-menu__items {
        display: flex;
        flex-wrap: wrap;
        background: var(--cs-menu);
    }
}

.ty-tree-menu__item {
    padding: 0px;
    display: block;
    float: left;
}

.ty-tree-menu__item {
    float: none;
    margin-right: 0px;
    border-bottom: 1px solid var(--cs-menu-hover);
    border-bottom-color: transparent;
    padding: 0px;
    position: relative;
}

@media (min-width: 768px) {
    .ty-tree-menu__item {
        --ty-tree-menu-item-flex-basis-percent: 50%;

        flex-basis: calc(var(--ty-tree-menu-item-flex-basis-percent) - 34px);
        margin: 0 16px 24px 16px;
        padding: 16px 0;
        border: 1px solid var(--cs-base);
        border-radius: var(--cs-base-rounded-corners-radius);
    }
}

@media (min-width: 1024px) {
    .ty-tree-menu__item {
        --ty-tree-menu-item-flex-basis-percent: 33.33333%;

        flex-basis: calc(var(--ty-tree-menu-item-flex-basis-percent) - 34px);
    }
}

@media (min-width: 1200px) {
    .ty-tree-menu__item {
        --ty-tree-menu-item-flex-basis-percent: 25%;

        flex-basis: calc(var(--ty-tree-menu-item-flex-basis-percent) - 34px);
    }
}

.ty-tree-menu__item-active .ty-tree-menu__item-link {
    background: var(--cs-content-bg);
    color: var(--cs-btn-link-color);
}

@media (min-width: 768px) {
    .ty-tree-menu__item-active .ty-tree-menu__item-link {
        background: var(--cs-menu-hover);
        color: var(--cs-menu-links);
    }
}

.no-touch .ty-tree-menu__item:hover .ty-tree-menu__submenu-items,
.is-hover-menu .ty-tree-menu__submenu-items {
    display: block;
}

@media (max-width: 767px) {
    .no-touch .ty-tree-menu__item:hover .ty-tree-menu__submenu-items,
    .ty-tree-menu__item:hover .ty-tree-menu__submenu-items {
        display: none;
    }
}

.no-touch .ty-tree-menu__item:hover .ty-tree-menu__item-link,
.is-hover-menu .ty-tree-menu__item-link,
.is-hover-menu.ty-tree-menu__item-active .ty-tree-menu__item-link {
    background: var(--cs-content-bg);
    color: var(--cs-btn-link-color);
    text-shadow: none;
}

.ty-tree-menu__item .ty-tree-menu__item-link {
    color: var(--cs-btn-link-color);
    position: relative;
    padding: 13px 20px 13px 0;
    display: block;
    min-height: 46px;
    cursor: pointer;
    font-weight: 700;
    border-bottom: 1px solid var(--cs-base);
    box-sizing: border-box;
}

@media (min-width: 768px) {
    .ty-tree-menu__item .ty-tree-menu__item-link {
        color: var(--cs-menu-links);
        padding: 13px 20px 13px 20px;
        border-bottom-color: transparent;
    }
}

.ty-tree-menu__item .ty-tree-menu__item-link {
    position: static;
}

.ty-tree-menu__item .ty-tree-menu__item-link--topmenu {
    --cs-topmenu-dropdown-menu-item-link-topmenu-padding: 0px;

    padding-right: var(--cs-topmenu-dropdown-menu-item-link-topmenu-padding);
    padding-left: var(--cs-topmenu-dropdown-menu-item-link-topmenu-padding);
}

@media (min-width: 768px) {
    .ty-tree-menu__item .ty-tree-menu__item-link--topmenu {
        --cs-topmenu-dropdown-menu-item-link-topmenu-padding: 24px;

        padding-top: 20px;
        padding-bottom: 24px;
        border-bottom: none;
    }
}

.ty-tree-menu__item .ty-tree-menu__item-link .ty-icon-down-micro {
    position: absolute;
    font-size: 20px;
    right: 12px;
    top: 13px;
}

.ty-tree-menu__submenu-items {
    min-width: 200px;
    display: none;
    position: absolute;
    background: var(--cs-content-bg);
    z-index: 200;
    border: 1px solid var(--cs-menu-hover);
    border-color: transparent;
    border-top: 0;
    padding: 15px 16px;
}

@media (min-width: 768px) {
    .ty-tree-menu__submenu-items {
        display: block;
    }
}

.ty-tree-menu__submenu-items {
    background: transparent;
    position: static;
}

.ty-tree-menu__submenu .ty-tree-menu__submenu-items {
    padding: 0;
}

.ty-tree-menu__items .ty-tree-menu__items-show {
    display: block !important;
    border-bottom: 0;
}

.ty-tree-menu__items .ty-tree-menu__items-show.ty-tree-menu__submenu-items--level-2 {
    border-top: 1px solid var(--cs-base);
}

.ty-tree-menu__submenu-items .ty-tree-menu__submenu-item {
    margin-bottom: 10px;
}

.ty-tree-menu__submenu .ty-tree-menu__submenu-items .ty-tree-menu__submenu-item {
    border-bottom: 1px solid #d8d8d8;
    border-bottom-color: transparent;
    margin: 0;
}

.ty-tree-menu__submenu .ty-top-mine__submenu-col .ty-tree-menu__submenu-item {
    position: relative;
    padding: 0px;
    padding-left: 35px;
}

.ty-tree-menu__submenu-alt-link .text-arrow {
    font-style: normal;
}

.ty-tree-menu__submenu-items .ty-tree-menu__submenu-link {
    color: var(--cs-btn-link-color);
}

.ty-tree-menu__submenu-items .ty-tree-menu__submenu-link:hover {
    color: var(--cs-btn-link-color-highlight);
}

.ty-tree-menu__submenu .ty-tree-menu__submenu-items .ty-tree-menu__submenu-item .ty-tree-menu__submenu-link {
    display: block;
    padding: 12px 30px 12px 20px;
}

.no-touch .ty-tree-menu__submenu-items .ty-tree-menu__submenu-link:hover {
    color: var(--cs-btn-link-color-highlight);
}

.ty-tree-menu__submenu-items .ty-top-mine__submenu-col {
    margin: 0px 10px 0px 0px;
    display: inline-block;
    vertical-align: top;
    min-width: 139px;
}

.ty-tree-menu__submenu .ty-top-mine__submenu-col {
    display: block;
    position: relative;
    margin: 0px;
    padding: 0px;
}

.ty-tree-menu__submenu-items .ty-top-mine__submenu-col:last-child {
    margin-right: 1px;
}

.ty-tree-menu__submenu-item-header {
    min-height: 25px;
    margin-bottom: 10px;
    padding-bottom: 2px;
    border-bottom: 1px solid #e5e5e5;
    border-bottom-color: transparent;
}

.ty-tree-menu__submenu .ty-top-mine__submenu-col .ty-tree-menu__submenu-item-header {
    min-height: 45px;
    margin: 0px;
    padding-bottom: 0px;
    border-bottom: 1px solid #d8d8d8;
    border-bottom-color: transparent;
    box-sizing: border-box;
}

.ty-tree-menu__submenu .ty-top-mine__submenu-col:last-child .ty-tree-menu__submenu-item-header {
    border-bottom-color: transparent;
}

.ty-tree-menu__submenu .ty-top-mine__submenu-col .ty-tree-menu__submenu-item-header-active {
    background: var(--cs-content-bg);
}

.ty-tree-menu__submenu-item-header .ty-tree-menu__submenu-link {
    font-weight: bold;
    color: var(--cs-btn-link-color);
}

@media (min-width: 768px) {
    .ty-tree-menu__submenu-item-header .ty-tree-menu__submenu-link {
        font-weight: normal;
    }
}

.ty-tree-menu__submenu .ty-tree-menu__submenu-item-header .ty-tree-menu__submenu-link {
    padding: 13px 20px;
    display: block;
}

.ty-tree-menu__submenu .ty-tree-menu__submenu-items .ty-tree-menu__submenu-item-active a {
    color: var(--cs-btn-link-color);
    background: var(--cs-base);
    padding: 0;
}

.ty-tree-menu__submenu .ty-tree-menu__submenu-items .ty-tree-menu__submenu-item-active a {
    color: var(--cs-btn-link-color-highlight);
    background: none;
}

.ty-tree-menu__submenu-dropdown-bottom {
    display: block;
    background: #ecf0f1;
    margin: 0px -16px -15px;
    padding: 10px;
    text-align: right;
}

.ty-tree-menu__submenu {
    left: 0;
}

.ty-tree-menu__submenu .ty-top-mine__submenu-col .ty-tree-menu__submenu-list {
    display: none;
}

.ty-tree-menu__submenu-reverse-direction {
    right: 0px;
}

.ty-tree-menu__submenu-reverse-direction .ty-tree-menu__submenu-items {
    right: 0px;
}

@media (min-width: 768px) {
    .ty-tree-menu__item-link--childs:after {
        content: "\e313";
        position: absolute;
        font-family: glyphs;
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1.25;
        -webkit-font-smoothing: antialiased;
        transform: scale(0.8) translateX(4px);
        opacity: 0.7;
    }
}

@media (min-width: 768px) {
    .ty-tree-menu__item {
        display: block !important;
    }
}

.ty-tree-menu__item-toggle {
    width: 32px;
    height: 32px;
    position: absolute;
    text-align: center;
    font-size: 28px;
    right: 0px;
    z-index: 100;
    color: var(--cs-btn-link-color);
    top: 7px;
    cursor: pointer;
    border-radius: var(--cs-rounded-corners-radius-small);
}

.ty-tree-menu__item-toggle:hover {
    color: var(--cs-btn-link-color-highlight);
}

.ty-tree-menu__item .ty-tree-menu__item-toggle-active {
    background: var(--cs-table-background-accent);
}

.ty-tree-menu__submenu .ty-top-mine__submenu-col .ty-tree-menu__item-toggle-active {
    background: var(--cs-table-background-accent);
}

.ty-tree-menu__items .ty-tree-menu__submenu .ty-top-mine__submenu-col .ty-tree-menu__item-toggle {
    color: var(--cs-btn-link-color);
}

.ty-tree-menu__icon-hide,
.ty-tree-menu__icon-open {
    display: inline-block;
    line-height: 32px;
}

.ty-tree-menu__submenu-dropdown-bottom {
    margin: auto;
}

.ty-tree-menu__icon-hide {
    display: none;
}

.ty-tree-menu__item-toggle-active .ty-tree-menu__icon-hide {
    display: inline-block;
}

.ty-tree-menu__item-toggle-active .ty-tree-menu__icon-open {
    display: none;
}
