@import "../../responsive/css/addons/product_reviews/product_reviews_variables.less";

:root {
    --ty-product-reviews-stars-full: "\f09a";
    --ty-product-reviews-stars-font-variation-settings-full: 'FILL' 1;
    --ty-product-reviews-stars-half: "\e839";
    --ty-product-reviews-stars-empty: "\f09a";
    --ty-product-reviews-verified: "\e5ca";
    --ty-product-reviews-accent-color: var(--cs-shipping-label);
}
