@import "../../responsive/css/addons/social_buttons/styles.less";

/* ==========================================================================
Social buttons
========================================================================== */
.ty-social-buttons--dropdown {
    margin-left: 20px;
    margin-right: 20px;
}

.ty-social-buttons__inline {
    display: block;
}

.ty-social-buttons__dropdown-box {
    margin-top: 20px;
    margin-bottom: 20px;
}

.ty-social-buttons__dropdown-box-title {
    padding: 0;
    border-width: 0;
}

.ty-social-buttons__dropdown-box-btn {
    color: var(--cs-btn-link-color);
}

.ty-social-buttons__dropdown-box-btn:hover {
    color: var(--cs-btn-link-color-highlight);
}

.ty-btn .ty-social-buttons__dropdown-box-title-icon {
    margin: 0;
}

.ty-social-buttons__dropdown-box-content {
    right: auto;
}
/* Social buttons */