.ty-product-list__image {
    border-width: 0;
}

.ty-product-list__control .ty-btn:not(.ty-btn__primary) {
    color: var(--cs-secondary-button);
    background: transparent;
}

.ty-product-list__control .ty-btn:not(.ty-btn__primary):hover {
    color: var(--cs-secondary-button-hover);
}

.ty-product-list__item-name .product-title {
    color: var(--cs-btn-link-color);
}

.ty-product-list__item-name .product-title:hover {
    color: var(--cs-btn-link-color-highlight);
}

.ty-product-list__price .ty-price-num {
    font-size: var(--cs-font-size-large);
}
