.ty-simple-list__price {
    margin-top: 8px;
}

.ty-simple-list__buttons {
    padding: 16px 0 0 0;
}

.ty-simple-list__buttons .ty-btn:not(.ty-btn__primary) {
    color: var(--cs-secondary-button);
    background: transparent;
}

.ty-simple-list__buttons .ty-btn:not(.ty-btn__primary):hover {
    color: var(--cs-secondary-button-hover);
}
