@import "../../responsive/css/addons/banners/styles.less";

/* ==========================================================================
Banners
========================================================================== */
.ty-banner__image-item {
    border-radius: var(--cs-base-rounded-corners-radius);
    overflow: hidden;
}
.ty-banner__image-wrapper {    /* to crop a large image */
    border-radius: var(--cs-base-rounded-corners-radius);
}
/* /Banners */
