@import "../../responsive/css/addons/tags/styles.less";

/* ==========================================================================
Tags
========================================================================== */

.ty-tags-list__a {
    background: var(--cs-tertiary-button);
}

.ty-tags-list__a:before {
    border-color: transparent var(--cs-tertiary-button) transparent transparent;
}

.ty-tags-list__a {
    background: var(--cs-tertiary-button);
    color: var(--cs-btn-tertiary-color);
}

.ty-tags-list__a:hover {
    background: var(--cs-tertiary-button-hover);
    color: var(--cs-btn-tertiary-color-highlight);
}

.ty-tags-list__a:hover:before {
    border-right-color: var(--cs-tertiary-button-hover);
}
