/** (6) RTL index post hook **/

html[dir="rtl"] .ty-icon-right-circle:before {
    content: "\f591";
    transform: scaleX(-1);
}

html[dir="rtl"] .ty-icon-left-circle:before {
    content: "\f591";
    transform: scaleX(1);
}

html[dir="rtl"] .ty-icon-right-dir:before {
    content: "\e5de";
}

html[dir="rtl"] .ty-icon-right-open:before {
    content: "\e5cb";
}

html[dir="rtl"] .ty-icon-left-open:before {
    content: "\e5cc";
}
