@media (max-width: 1023px) {
    .ty-breadcrumbs {
        white-space: nowrap;
        overflow-x: scroll;
        scrollbar-width: none;
    }
}

.ty-breadcrumbs__arrow,
.ty-breadcrumbs__a,
.ty-breadcrumbs__current {
    font-size: var(--cs-font-size-small);
}

.ty-breadcrumbs__current {
    color: var(--cs-font);
}

.ty-breadcrumbs__a {
    color: var(--cs-secondary-text);
}

.ty-breadcrumbs__a:hover {
    color: var(--cs-secondary-text);
}
