@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: local('Inter'), url(../media/fonts/inter_regular.woff2) format('woff2');
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: bold;
    font-display: swap;
    src: local('Inter Bold'), local('Inter-Bold'), url(../media/fonts/inter_bold.woff2) format('woff2');
}
