.ty-video-thumbnail {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ty-product-images-gallery-video-link {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ty-video__iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: ~"calc(100% - 50px)";
    border: 0;
  }