.ty-popup-tabs {
    padding-top: 0;
    border-top: none;
}

.ty-popup-tabs__item-link {
    color: var(--cs-btn-link-color);
}

.ty-popup-tabs__item-link:hover {
    color: var(--cs-btn-link-color-highlight);
}
