.bp-nav {
    display: -ms-grid;
    display: grid;
    position: relative;
    grid-area: nav;
    grid-template-columns: repeat(auto-fit, minmax(90px,auto));
    grid-auto-flow: column;
}

.bp-nav__item {
    --bp-nav-item-font-size: 14px;
    --bp-nav-item-padding-x: 6px;
    --bp-nav-item-white-space: nowrap;

    box-sizing: border-box;
    display: -webkit-box;
    display: flex;
    opacity: 0.6;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
    padding-right: var(--bp-nav-item-padding-x);
    padding-left: var(--bp-nav-item-padding-x);
    color: var(--bp-text-color-inverse);
    font-size: var(--bp-nav-item-font-size);
    font-family: var(--bp-font);
    text-align: center;
    white-space: var(--bp-nav-item-white-space);
    cursor: pointer;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
}

.bp-nav__item:hover,
.bp-nav__item:focus,
.bp-nav__item--active {
    opacity: 1;
    color: var(--bp-text-color-inverse);
    text-decoration: none;
    outline: 0;
}

.bp-nav__item--active {
    border-top-color: #fff;
}

.bp-nav__item--sm {
    --bp-nav-item-font-size: 13px;
    --bp-nav-item-padding-x: 2px;
    --bp-nav-item-white-space: normal;
}

.bp-nav__item--xs {
    --bp-nav-item-font-size: 12px;
    --bp-nav-item-padding-x: 2px;
    --bp-nav-item-white-space: normal;
}

@media (min-width: 768px) {
    .bp-nav__item {
        --bp-nav-item-padding-x: 12px;
    }

    .bp-nav__item--sm {
        --bp-nav-item-padding-x: 6px;
    }

    .bp-nav__item--xs {
        --bp-nav-item-padding-x: 4px;
    }
}

@media (min-width: 1280px) {
    .bp-nav__item {
        --bp-nav-item-font-size: 18px;
        --bp-nav-item-white-space: nowrap;
    }

    .bp-nav__item--sm {
        --bp-nav-item-font-size: 16px;
        --bp-nav-item-white-space: nowrap;
    }

    .bp-nav__item--xs {
        --bp-nav-item-font-size: 16px;
        --bp-nav-item-white-space: nowrap;
    }
}

.bp-nav__item-text {
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}
