.btn-toolbar--theme-editor {
    .btn {
        margin: 2px 0;
    }
}


// Theme style selector

// Nova theme white
.view-status--type-themes-styles.view-status-white:before,
.status-dropdown--type-themes-styles.status-dropdown-white:before,
.status-link--type-themes-styles.status-link-white:before {
    color: var(--cs-black);
}

// Nova theme blue
.view-status--type-themes-styles.view-status-blue:before,
.status-dropdown--type-themes-styles.status-dropdown-blue:before,
.status-link--type-themes-styles.status-link-blue:before {
    color: var(--cs-blue);
}

// Nova theme green
.view-status--type-themes-styles.view-status-green:before,
.status-dropdown--type-themes-styles.status-dropdown-green:before,
.status-link--type-themes-styles.status-link-green:before {
    color: var(--cs-green);
}

// Nova theme orange
.view-status--type-themes-styles.view-status-orange:before,
.status-dropdown--type-themes-styles.status-dropdown-orange:before,
.status-link--type-themes-styles.status-link-orange:before {
    color: var(--cs-orange);
}

// Nova theme red
.view-status--type-themes-styles.view-status-red:before,
.status-dropdown--type-themes-styles.status-dropdown-red:before,
.status-link--type-themes-styles.status-link-red:before {
    color: var(--cs-red);
}

// Nova theme yellow
.view-status--type-themes-styles.view-status-yellow:before,
.status-dropdown--type-themes-styles.status-dropdown-yellow:before,
.status-link--type-themes-styles.status-link-yellow:before {
    color: var(--cs-yellow);
}
